In [1]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [2]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [3]:
# code here
teams = list(df['Team'].unique())
len(teams)

32

In [4]:
d = {}

for i in teams:
    attempt = df[df['Team']==i]['Total Attempts'].sum()
    on_target = df[df['Team']==i]['On Target'].sum()

    percent_target = np.round(100*on_target/attempt,2)
    d[i] = percent_target

sorted_d = sorted(d.items(),key = lambda x:x[1],reverse=True)
sorted_dict =dict(sorted_d)
sorted_dict

{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.15,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'France': 34.65,
 'Germany': 34.33,
 'Croatia': 33.73,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.33,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [5]:
# code here
df['Team'].value_counts().rank(method = 'first')

Morocco           29.0
Croatia           30.0
Argentina         31.0
France            32.0
England           25.0
Brazil            26.0
Netherlands       27.0
Portugal          28.0
Poland            17.0
Japan             18.0
Switzerland       19.0
Australia         20.0
Korea Republic    21.0
United States     22.0
Senegal           23.0
Spain             24.0
Cameroon           1.0
Uruguay            2.0
Belgium            3.0
Ghana              4.0
Canada             5.0
Qatar              6.0
Costa Rica         7.0
Germany            8.0
Ecuador            9.0
Mexico            10.0
Tunisia           11.0
Denmark           12.0
Saudi Arabia      13.0
Wales             14.0
Iran              15.0
Serbia            16.0
Name: Team, dtype: float64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [6]:
# code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Sl. No,128.0,64.500000,37.094474,1.0,32.75,64.5,96.25,128.0
Match No.,128.0,32.500000,18.545539,1.0,16.75,32.5,48.25,64.0
Goal,128.0,1.343750,1.342448,0.0,0.00,1.0,2.00,7.0
Possession (%),128.0,43.476562,11.442403,14.0,35.00,45.0,51.00,78.0
Inside Penalty Area,128.0,1.203125,1.324270,0.0,0.00,1.0,2.00,7.0
Outside Penalty Area,128.0,0.117188,0.322907,0.0,0.00,0.0,0.00,1.0
Assists,128.0,0.914062,1.150333,0.0,0.00,1.0,1.00,6.0
Total Attempts,128.0,11.257812,5.406683,0.0,7.75,10.0,14.00,32.0
On Target,128.0,4.007812,2.588576,0.0,2.00,4.0,6.00,13.0
Off Target,128.0,4.835938,2.610630,0.0,3.00,4.0,6.00,17.0
Target in Penalty,128.0,6.914062,3.998085,0.0,4.00,6.0,9.00,24.0
Target from Outside,128.0,4.343750,2.733397,0.0,3.00,4.0,5.00,15.0
Left Channel,128.0,13.562500,6.901729,2.0,8.00,12.0,18.00,36.0
Left Inside Channel,128.0,4.671875,2.886595,0.0,2.00,4.5,7.00,13.0
Central Channel,128.0,4.906250,3.080131,0.0,3.00,4.0,6.25,16.0
Right Inside Channel,128.0,4.648438,2.936573,0.0,3.00,4.0,6.00,19.0
Right Channel,128.0,12.234375,6.176517,1.0,8.00,11.0,16.25,29.0
Receptions MD,128.0,92.703125,29.440547,32.0,72.75,93.0,111.25,186.0
Receptions D,128.0,12.453125,18.152399,0.0,7.00,9.0,14.00,192.0
Attempted Line Breaks,128.0,169.281250,34.120661,56.0,149.50,170.5,188.00,259.0
Completed Line Breaks,128.0,109.476562,30.776298,19.0,87.75,106.0,129.00,192.0
Attempted Defensive Line Breaks,128.0,14.812500,7.230458,1.0,10.00,15.0,20.00,40.0
Completed Defensive Line Breaks,128.0,8.265625,5.101311,0.0,5.00,8.0,11.00,27.0
Yellow Cards,128.0,1.726562,1.514834,0.0,1.00,2.0,2.00,8.0
Red Cards,128.0,0.023438,0.151883,0.0,0.00,0.0,0.00,1.0
Fouls Against,128.0,12.320312,4.691983,0.0,9.00,12.0,15.00,30.0
Offsides,128.0,1.976562,1.731891,0.0,1.00,2.0,3.00,10.0
Passes,128.0,502.859375,160.160487,225.0,398.25,495.5,589.50,1070.0
Passes Completed,128.0,430.929688,160.893724,156.0,323.25,419.0,519.75,994.0
Crosses,128.0,19.523438,8.596799,4.0,13.00,19.0,24.00,53.0
Crosses Completed,128.0,4.898438,3.520111,0.0,3.00,4.0,6.00,25.0
Corners,128.0,4.468750,2.774852,0.0,2.00,4.0,6.00,14.0
Free Kicks,128.0,14.250000,4.712189,5.0,11.00,14.0,17.00,30.0
Penalties Scored,128.0,0.335938,0.941412,0.0,0.00,0.0,0.00,5.0
Pts,128.0,1.429688,1.389973,0.0,0.00,1.0,3.00,3.0

In [8]:
df.duplicated().sum()

0

In [9]:
df.columns

Index(['Sl. No', 'Match No.', 'Team', 'Against', 'Group', 'Goal',
       'Possession (%)', 'Inside Penalty Area', 'Outside Penalty Area',
       'Assists', 'Total Attempts', 'On Target', 'Off Target',
       'Target in Penalty', 'Target from Outside', 'Left Channel',
       'Left Inside Channel', 'Central Channel', 'Right Inside Channel',
       'Right Channel', 'Receptions MD', 'Receptions D',
       'Attempted Line Breaks', 'Completed Line Breaks',
       'Attempted Defensive Line Breaks', 'Completed Defensive Line Breaks',
       'Yellow Cards', 'Red Cards', 'Fouls Against', 'Offsides', 'Passes',
       'Passes Completed', 'Crosses', 'Crosses Completed', 'Corners',
       'Free Kicks', 'Penalties Scored', 'Pts'],
      dtype='object')

In [10]:
df.drop(columns=['Sl. No','Match No.','Red Cards','Pts'],inplace=True)

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [11]:
df['rank'] = df['Team'].rank(method = 'first')
df['rank'] = df['rank'].astype('int16')
df.set_index('rank',inplace=True)
df.sort_values(by = 'rank')

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Argentina,Saudi Arabia,C,1,51,1,0,0,14,6,6,10,4,12,4,5,8,18,91,27,195,127,10,8,0,7,10,593,525,36,15,9,21,1
2,Argentina,Mexico,C,2,50,1,1,2,5,2,3,2,3,10,6,2,4,12,89,2,150,100,10,5,1,15,2,533,464,14,2,4,23,0
3,Argentina,Poland,C,2,67,1,1,2,25,13,8,10,15,25,8,7,10,26,150,36,141,126,20,16,1,11,0,862,814,22,5,9,5,0
4,Argentina,Australia,C,2,53,2,0,1,14,5,7,11,3,15,6,11,2,17,127,8,181,135,16,8,0,8,4,711,635,6,1,1,15,0
5,Argentina,Netherlands,C,2,44,2,0,1,15,6,8,5,10,7,7,13,6,17,104,7,203,122,24,8,8,18,2,603,511,16,4,8,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Uruguay,Portugal,H,0,35,0,0,0,10,3,6,6,4,13,8,4,5,9,94,6,150,86,17,11,2,16,0,390,306,18,5,2,13,0
125,Uruguay,Ghana,H,2,39,2,0,1,12,7,5,7,5,7,2,13,3,17,186,14,186,124,24,14,3,11,2,446,361,15,4,2,20,0
126,Wales,United States,B,1,39,1,0,0,7,3,3,5,2,7,2,5,2,7,73,9,174,103,17,8,2,10,1,409,321,15,6,3,15,1
127,Wales,Iran,B,0,51,0,0,0,10,3,4,5,5,18,3,8,11,13,101,13,208,129,17,8,1,9,2,508,413,20,5,2,12,0
128,Wales,England,B,0,33,0,0,0,7,1,3,1,6,7,1,2,0,4,46,1,104,55,4,1,2,16,1,325,261,4,1,1,10,0

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

In [12]:
titanic1 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv')

print(titanic1.shape)
titanic1.head(3)

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [13]:
titanic2 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv')
print(titanic2.shape)
titanic2.head(3)

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [14]:
titanic1.dropna(subset = 'Age',inplace=True)
titanic1.shape

(714, 12)

In [15]:
titanic2['Age'].fillna(20,inplace=True)

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

In [16]:
ipl = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv')
print(ipl.shape)
ipl.head(2)

(950, 20)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [17]:
ipl['Team1'].value_counts() + ipl['Team2'].value_counts()

Chennai Super Kings            208
Deccan Chargers                 75
Delhi Capitals                  63
Delhi Daredevils               161
Gujarat Lions                   30
Gujarat Titans                  16
Kings XI Punjab                190
Kochi Tuskers Kerala            14
Kolkata Knight Riders          223
Lucknow Super Giants            15
Mumbai Indians                 231
Pune Warriors                   46
Punjab Kings                    28
Rajasthan Royals               192
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    226
Sunrisers Hyderabad            152
dtype: int64

In [18]:
# Renaming 3 teams
team_renamed = {'Delhi Daredevils' :'Delhi Capitals',
                'Kings XI Punjab' : 'Punjab Kings',
                'Rising Pune Supergiants' : 'Rising Pune Supergiant'}

ipl.replace(team_renamed,inplace = True)

In [19]:
ipl_nonull = ipl[~ipl['WinningTeam'].isnull()]
ipl_nonull.shape

(946, 20)

In [20]:
# Make a dataframe of each team in IPL with details like -
# Team Name, Matches Played, Win%, Home Win%, Away Win%. Show sorted dataframe on Win%

teams = ipl_nonull['Team1'].unique()

d = {}

for t in teams:
    d[t] = {}
    
#     total matches
    nos_matches = ipl_nonull[(ipl_nonull['Team1']==t) | (ipl_nonull['Team2']==t)].shape[0]
    
    # winning matches
    wins = ipl_nonull[ipl_nonull['WinningTeam']==t].shape[0]
    win_percent = np.round(100*wins/nos_matches,1)
    
#     home and away matches
    nos_home = ipl_nonull[ipl_nonull['Team1']==t].shape[0]
    nos_away = ipl_nonull[ipl_nonull['Team2']==t].shape[0]
    
#     home and away wins
    
    home_wins = ipl_nonull[(ipl_nonull['WinningTeam']==t) & (ipl_nonull['Team1']==t)].shape[0]
    away_wins = ipl_nonull[(ipl_nonull['WinningTeam']==t) & (ipl_nonull['Team2']==t)].shape[0]
    
#   home and away win percent
    home_win_percent = np.round(100*home_wins/ nos_home,2)
    away_win_percent = np.round(100*away_wins/ nos_away,2)
    
    
    d[t]['total_matches'] = nos_matches
    d[t]['win_percent'] = win_percent
    d[t]['homewin_percent'] = home_win_percent
    d[t]['awaywin_percent'] = away_win_percent
    
d

{'Rajasthan Royals': {'total_matches': 190,
  'win_percent': 50.5,
  'homewin_percent': 55.06,
  'awaywin_percent': 46.53},
 'Royal Challengers Bangalore': {'total_matches': 223,
  'win_percent': 48.9,
  'homewin_percent': 49.59,
  'awaywin_percent': 48.0},
 'Sunrisers Hyderabad': {'total_matches': 152,
  'win_percent': 49.3,
  'homewin_percent': 52.17,
  'awaywin_percent': 46.99},
 'Delhi Capitals': {'total_matches': 222,
  'win_percent': 46.4,
  'homewin_percent': 46.9,
  'awaywin_percent': 45.87},
 'Chennai Super Kings': {'total_matches': 208,
  'win_percent': 58.2,
  'homewin_percent': 58.56,
  'awaywin_percent': 57.73},
 'Gujarat Titans': {'total_matches': 16,
  'win_percent': 75.0,
  'homewin_percent': 57.14,
  'awaywin_percent': 88.89},
 'Lucknow Super Giants': {'total_matches': 15,
  'win_percent': 60.0,
  'homewin_percent': 87.5,
  'awaywin_percent': 28.57},
 'Kolkata Knight Riders': {'total_matches': 223,
  'win_percent': 51.1,
  'homewin_percent': 53.33,
  'awaywin_percent': 49.15},
 'Punjab Kings': {'total_matches': 218,
  'win_percent': 46.3,
  'homewin_percent': 45.45,
  'awaywin_percent': 47.22},
 'Mumbai Indians': {'total_matches': 231,
  'win_percent': 56.7,
  'homewin_percent': 58.04,
  'awaywin_percent': 55.46},
 'Rising Pune Supergiant': {'total_matches': 30,
  'win_percent': 50.0,
  'homewin_percent': 50.0,
  'awaywin_percent': 50.0},
 'Gujarat Lions': {'total_matches': 30,
  'win_percent': 43.3,
  'homewin_percent': 31.25,
  'awaywin_percent': 57.14},
 'Pune Warriors': {'total_matches': 45,
  'win_percent': 26.7,
  'homewin_percent': 26.09,
  'awaywin_percent': 27.27},
 'Deccan Chargers': {'total_matches': 75,
  'win_percent': 38.7,
  'homewin_percent': 33.33,
  'awaywin_percent': 44.44},
 'Kochi Tuskers Kerala': {'total_matches': 14,
  'win_percent': 42.9,
  'homewin_percent': 42.86,
  'awaywin_percent': 42.86}}

In [21]:
pd.DataFrame(d).T.reset_index().sort_values('win_percent',ascending = False)

,index,total_matches,win_percent,homewin_percent,awaywin_percent
5,Gujarat Titans,16.0,75.0,57.14,88.89
6,Lucknow Super Giants,15.0,60.0,87.50,28.57
4,Chennai Super Kings,208.0,58.2,58.56,57.73
9,Mumbai Indians,231.0,56.7,58.04,55.46
7,Kolkata Knight Riders,223.0,51.1,53.33,49.15
0,Rajasthan Royals,190.0,50.5,55.06,46.53
10,Rising Pune Supergiant,30.0,50.0,50.00,50.00
2,Sunrisers Hyderabad,152.0,49.3,52.17,46.99
1,Royal Challengers Bangalore,223.0,48.9,49.59,48.00
3,Delhi Capitals,222.0,46.4,46.90,45.87
8,Punjab Kings,218.0,46.3,45.45,47.22
11,Gujarat Lions,30.0,43.3,31.25,57.14
14,Kochi Tuskers Kerala,14.0,42.9,42.86,42.86
13,Deccan Chargers,75.0,38.7,33.33,44.44
12,Pune Warriors,45.0,26.7,26.09,27.27

###`Q-7:` Venues with most "no result" matches.

In [22]:
ipl[ipl['WinningTeam'].isna()]['Venue'].value_counts().index

Index(['M Chinnaswamy Stadium', 'M.Chinnaswamy Stadium', 'Feroz Shah Kotla'], dtype='object')

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [23]:
ipl_finals = ipl[ipl['MatchNumber']=='Final']

In [24]:
import ast
list_of_names = ast.literal_eval(ipl_finals['Team1Players'][0])
list_of_names

['YBK Jaiswal',
 'JC Buttler',
 'SV Samson',
 'D Padikkal',
 'SO Hetmyer',
 'R Ashwin',
 'R Parag',
 'TA Boult',
 'OC McCoy',
 'M Prasidh Krishna',
 'YS Chahal']

In [25]:
ipl_finals['Team1Players'] = ipl_finals['Team1Players'].apply(ast.literal_eval)
ipl_finals['Team2Players'] = ipl_finals['Team2Players'].apply(ast.literal_eval)

C:\Users\abhid\AppData\Local\Temp\ipykernel_15280\3156120471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_finals['Team1Players'] = ipl_finals['Team1Players'].apply(ast.literal_eval)
C:\Users\abhid\AppData\Local\Temp\ipykernel_15280\3156120471.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_finals['Team2Players'] = ipl_finals['Team2Players'].apply(ast.literal_eval)

In [26]:
ipl_finals['all_players'] = ipl_finals.apply(lambda x: x['Team1Players']+x['Team2Players'],axis = 1)

C:\Users\abhid\AppData\Local\Temp\ipykernel_15280\2030960033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl_finals['all_players'] = ipl_finals.apply(lambda x: x['Team1Players']+x['Team2Players'],axis = 1)

In [27]:
all_finals = []

for i in ipl_finals['all_players']:
    all_finals.extend(i)
    
pd.Series(all_finals).value_counts().head(3)

MS Dhoni     10
SK Raina      8
AT Rayudu     7
dtype: int64

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [28]:
def team_stats(df,t):
    
    d = {}
    
    
    # total nos of matches 
    nos_matches = df[(df['Team1']==t) | (df['Team2']==t)].shape[0]
    
    # winning matches
    wins = df[df['WinningTeam']==t].shape[0]
    
    # no result matches
    no_result = df[((df['Team1']==t) | (df['Team2']==t)) & (df['WinningTeam'].isnull())].shape[0]
    
#     loses
    losses = (nos_matches - wins - no_result)
    
#     points
    points = 2*wins + no_result
    
    d['MatchesPlayed'] = nos_matches
    d['MatchesWon'] = wins
    d['NoResult'] = no_result
    d['Points'] = points
    
    return d

In [29]:
temp1 = ipl[ipl['Season'] == '2007/08']

team_stats(temp1,'Rajasthan Royals')

{'MatchesPlayed': 16, 'MatchesWon': 13, 'NoResult': 0, 'Points': 26}

In [43]:
def point_table(season):
    
    season_df = ipl[ipl['Season'] == season]
    
    teams = set(list(season_df['Team1'].unique()) + list(season_df['Team2'].unique()))
    
    season_dict = {}
    
    for team in teams:
        season_dict[team] = team_stats(season_df,team)
    
    point_df = pd.DataFrame(season_dict).T.sort_values('Points',ascending = False)
    
    return teams,point_df

In [47]:
a,b = point_table('2020/21')
print(a)
print()
b

{'Mumbai Indians', 'Rajasthan Royals', 'Royal Challengers Bangalore', 'Sunrisers Hyderabad', 'Kolkata Knight Riders', 'Chennai Super Kings', 'Punjab Kings', 'Delhi Capitals'}

                             MatchesPlayed  MatchesWon  NoResult  Points
Mumbai Indians                          16          11         0      22
Delhi Capitals                          17           9         0      18
Sunrisers Hyderabad                     16           8         0      16
Royal Challengers Bangalore             15           7         0      14
Kolkata Knight Riders                   14           7         0      14
Rajasthan Royals                        14           6         0      12
Chennai Super Kings                     14           6         0      12
Punjab Kings                            14           6         0      12

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [94]:
def season_position(season):
    _,point_df = point_table(season)
    point_df = point_df.reset_index().rename(columns = {'index':'TeamName'})
    point_df = point_df.sort_values(by = ['Points','TeamName'],ascending = [False,True])
    point_df['rank'] = point_df['Points'].rank(ascending = False,method = 'first').astype('object')
    
    
#     final winner and runner up
    season_final = ipl[(ipl['Season']==season) & (ipl['MatchNumber']=='Final')]
    winner = season_final['WinningTeam'][0]
    runner_up = season_final.apply(lambda x: x['Team2'] if x['Team1']== x['WinningTeam'] else x['Team1'],axis = 1)[0]
    
    point_df['rank'] = point_df.apply(lambda x: 'Winner' if x['TeamName']==winner else x['rank'],axis = 1)
    point_df['rank'] = point_df.apply(lambda x: 'Runner' if x['TeamName']==runner_up else x['rank'],axis = 1)
    
#     3rd --> Losing team in Qualifier 2
    qualifier2 = ipl[(ipl['Season']==season) & (ipl['MatchNumber']=='Qualifier 2')]
#     qualifier_winner = qualifier2['WinningTeam'][0]
    third = qualifier2.apply(lambda x: x['Team2'] if x['Team1']== x['WinningTeam'] else x['Team1'],axis = 1)[0]
    point_df['rank'] = point_df.apply(lambda x: 'Third' if x['TeamName']==third else x['rank'],axis = 1)


#     4th - Losing Team in Eliminator
    
    
    
    return winner,runner_up, point_df

In [95]:
a,b,c = season_position('2022')

KeyError: 0

In [91]:
c

,TeamName,MatchesPlayed,MatchesWon,NoResult,Points,rank
0,Gujarat Titans,16,12,0,24,Winner
1,Rajasthan Royals,17,10,0,20,Runner
3,Lucknow Super Giants,15,9,0,18,3.0
2,Royal Challengers Bangalore,16,9,0,18,4.0
5,Delhi Capitals,14,7,0,14,5.0
4,Punjab Kings,14,7,0,14,6.0
7,Kolkata Knight Riders,14,6,0,12,7.0
6,Sunrisers Hyderabad,14,6,0,12,8.0
9,Chennai Super Kings,14,4,0,8,9.0
8,Mumbai Indians,14,4,0,8,10.0

In [66]:
ipl.head(3)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough

In [93]:
ipl['MatchNumber'].unique()

array(['Final', 'Qualifier 2', 'Eliminator', 'Qualifier 1', '70', '69',
       '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58',
       '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47',
       '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36',
       '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25',
       '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14',
       '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2',
       '1', 'Qualifier', 'Elimination Final', '72', '71',
       '3rd Place Play-Off', 'Semi Final'], dtype=object)

In [98]:
qualifier2 = ipl[(ipl['Season']=='2022') & (ipl['MatchNumber']=='Qualifier 2')]
third = qualifier2.apply(lambda x: x['Team2'] if x['Team1']== x['WinningTeam'] else x['Team1'],axis = 1)

In [99]:
third

1    Royal Challengers Bangalore
dtype: object